# Colcon/ROS2 build artifacts
build/
install/
log/

# colcon workspace metadata
.colcon_workspace

# Editors
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]

# OS cruft
.DS_Store
robotyaml2.txt
